<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<body>
    {%for i in post%}
        <h1>{{ i.title }}</h1>
        <p>By {{ i.author }} on {{ i.date_posted }}</p>
        <p>{{ i.content }}</p>
    {%endfor%}
</body>
</html>